@model Mvc.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <input asp-for="Purpose" class="form-control" />
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_of_company" class="control-label"></label>
                <input asp-for="Name_of_company" class="form-control" />
                <span asp-validation-for="Name_of_company" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Whom_to_see" class="control-label"></label>
                <input asp-for="Whom_to_see" class="form-control" />
                <span asp-validation-for="Whom_to_see" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company_name" class="control-label"></label>
                <input asp-for="Company_name" class="form-control" />
                <span asp-validation-for="Company_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name_of_event" class="control-label"></label>
                <input asp-for="Name_of_event" class="form-control" />
                <span asp-validation-for="Name_of_event" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From_where" class="control-label"></label>
                <input asp-for="From_where" class="form-control" />
                <span asp-validation-for="From_where" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To_whom" class="control-label"></label>
                <input asp-for="To_whom" class="form-control" />
                <span asp-validation-for="To_whom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sign_in" class="control-label"></label>
                <input asp-for="Sign_in" class="form-control" />
                <span asp-validation-for="Sign_in" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
