

@{
    ViewData["Title"] = "Home Page";

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
   

    <div class="container-fluid">
        <!--gif-->
        <div class="col-md-12">
            <div class="welcome">
                <a asp-controller="Home" asp-action="Main"><img src="img/Alejo2.png" class="img-responsive"></a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        document.getElementById("checkin").onclick = function () {
            location.href = "firsttimer.html";
        };
        document.getElementById("checkout").onclick = function () {
            location.href = "checkout.html";
        };

    </script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

