
@{ 
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Check In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/stylle.css" />
</head>
<body>
    <div class="container-fluid">
        <!--success alert-->
        <div class="col-md-12">
            <div class="text-center">
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <a asp-controller="Home" asp-action="Index"><button type="button" class="btn btn-default btn-lg" id="success"> A message has been sent </button></a>
                </div>
            </div>
        </div>
    </div>
    @*<script type="text/javascript">
		document.getElementById("success").onclick = function () {
        location.href = "./Index";
    };
    </script>*@
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="js/main.js"></script> -->
</body>
</html>